<script>
  document.addEventListener('DOMContentLoaded', function() {
    $('.sidenav').sidenav();
  }, false);
</script>

<nav>
  <div class="white nav-wrapper">
    <a href="/" class="brand-logo">
      <div class="valign-wrapper">
          <span class="logo-text">Evidencija Partnerskih Paketa</span>
      </div>    
    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
        <li><a href="/partners">PARTNERI</a></li>
        <li><a href="/packages">PAKETI</a></li>
        <li><a href="/lectures">PREDAVANJA</a></li>
        <li><a href="/advertisement">OGLASI</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/partners">PARTNERI</a></li>
    <li><a href="/packages">PAKETI</a></li>
    <li><a href="/lectures">PREDAVANJA</a></li>
    <li><a href="/advertisement">OGLASI</a></li>
</ul>